<!DOCTYPE html>
<html>
  <style> 
  body {
  background-image: url("euro2020.jpg");
  background-color: #cccccc;
  }
  h1 {
	  text-align: center;
  }
 
  </style>
  <body>
    <header>
      <div class="centered">
        <h1 class="logo">EURO 2020</h1>
		<p> Welcome to the webapp that tells you all you should know about Denmarks group for the upcoming EURO2020(2021) :D 
		</p>
		<p> Click on one of the following links to stalk our rivals
		</p>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('DENMARK') }}">DENMARK</a></li>
            <li><a href="{{ url_for('BELGIUM') }}">BELGIUM</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="centered">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>